<%- include('../partials/userHeader') %>

  <!-- cards  -->

  <div class="container-fluid ">
    <div class="container justify-content-center">
      <div class="row">
        <h1 class="text-center pt-5">Categories of food !</h1>
      </div>

      <div class="container my-5">
        <div class="row justify-content-center">

          <% data.forEach(element=> { %>

            <div class="col-sm-12 col-md-6 col-lg-3 d-12 gy-4 d-md-block d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= element.name %></h5>
                  <p class="card-text"><%= element.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Starts from Rs. <%= element.rate %>/-</li>
                  <li class="list-group-item">Rating dummmy</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <button type="button" class="btn btn-outline-warning"><a href="/user/category/products/<%=element._id %>" class="text-decoration-none">View Category</a></button>
                </div>
              </div>
            </div>

             <% }); %>

          </div>

          <!-- cards  -->

          <div class="container-fluid ">
            <div class="container justify-content-center">
              <div class="row">
                <h1 class="text-center pt-5">Popular Dishes</h1>
              </div>

              <div class="container my-5">

                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-3 d-12 gy-4 d-md-block d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src="/assets/img/roll.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Roll Shawarma</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                          the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Starts from Rs. 199/-</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                      </ul>
                      <div class="card-body">
                        <button type="button" class="btn btn-outline-warning">View Category</button>
                      </div>
                    </div>
                  </div>

                  
                  <div class="col-sm-12 col-md-6 col-lg-3 d-12 gy-4 d-md-block d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src="/assets/img/burger.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Burger Shawarma</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                          the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Starts from Rs. 299/-</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                      </ul>
                      <div class="card-body">
                        <button type="button" class="btn btn-outline-warning">View Category</button>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-12 col-md-6 col-lg-3 d-12 gy-4 d-md-block d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src="/assets/img/Plate.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Plate Shawarma</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                          the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Starts from Rs. 399/-</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                      </ul>
                      <div class="card-body">
                        <button type="button" class="btn btn-outline-warning">View Category</button>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-3 d-12 gy-4 d-md-block d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src="/assets/img/juices.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">juices</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                          the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Starts from Rs. 99/-</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                      </ul>
                      <div class="card-body">
                        <button type="button" class="btn btn-outline-warning">View Category</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- banner -->

            <div class="container-fluid border-top border-bottom border-3 border-secondary border-dashed">
              <div class="container d-flex justify-content-center">
                <div class="row-md-7">
                  <h1 class="text-center pt-5">Banner for the ad</h1>
                </div>
              </div>

              <div class="container my-5">
                <div class="row">
                  <div class="col-md-7">
                    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0"
                          class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
                          aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/assets/img/caro-ad-1.jpg" class="d-block w-100 img-fluid" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="/assets/img/caro-ad-1.jpg" class="d-block w-100 img-fluid" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="https://picsum.photos/800/400" class="d-block w-100 img-fluid" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-5 mt-4">
                    <h3>Redefining Shawarma Experience</h3>
                    <h6 class="mt-2">
                      Lip-smacking shawarma served with loads of precision and hygiene has become everyone's favorite
                      in no time.
                    </h6>
                    <p class="mt-2">
                      Our efforts and promises are on maintaining the consistency to serve our customers, the amazing
                      mouth watering delicacy. Offering an exclusive and focused menu packed with Lebanese favorites
                      and contemporary dishes, Al Taza has undoubtedly become the household name of Shawarma for
                      Keralites since 2019. We have our exclusive outlets in Aluva, Edappally, Kaloor, Kalamassery,
                      Perumbavoor, Calicut, Thiruvananthapuram, Kollam and Bangalore
                    </p>
                    <button type="button" class="btn btn-primary mt-2">Explore More!</button>
                  </div>
                </div>
              </div>

            </div>

            <!-- pokki adi -->

            <div class="container my-5">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                  <i class="bi bi-bag-check " style="font-size: 60px;"></i>
                  <h6>Free Delivery</h6>
                  <p>Please note that free delivery is only for orders above a specific amount.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                  <i class="bi bi-credit-card" style="font-size: 60px;"></i>
                  <h6>100% Secure Payment</h6>
                  <p>Please note that free delivery is only for orders above a specific amount.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                  <i class="bi bi-tag" style="font-size: 60px;"></i>
                  <h6>Daily Offer</h6>
                  <p>Please note that free delivery is only for orders above a specific amount.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                  <i class="bi bi-star-fill" style="font-size: 60px;"></i>
                  <h6>Quality Guarantee</h6>
                  <p>Please note that free delivery is only for orders above a specific amount.</p>
                </div>
              </div>
            </div>

            <%- include('../partials/footer') %>